<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Army</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>army</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneClassName</key>
						<string>UIWindowScene</string>
						<key>UISceneConfigurationName</key>
						<string>flutter</string>
						<key>UISceneDelegateClassName</key>
						<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
						<key>UISceneStoryboardFile</key>
						<string>Main</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>vn.army.txa</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>txa</string>
				</array>
			</dict>
		</array>
		<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-1543189450912703~9815794732</string>
		<key>SKAdNetworkItems</key>
		<array>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>cstr6suwn9.skadnetwork</string>
			</dict>
		</array>
		<key>CFBundleIcons</key>
		<dict>
			<key>CFBundlePrimaryIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CFBundleAlternateIcons</key>
			<dict>
				<key>national_day_29</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>national_day_29</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>midnight_dark</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>midnight_dark</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>cyberpunk_neon</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>cyberpunk_neon</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>sakura_pink</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>sakura_pink</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>ocean_breeze</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>ocean_breeze</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>sunset_glow</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>sunset_glow</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>matrix_matrix</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>matrix_matrix</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>fire_dragon</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>fire_dragon</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>galaxy_cosmic</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>galaxy_cosmic</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>frost_ice</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>frost_ice</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>emerald_gem</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>emerald_gem</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>ruby_luxury</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>ruby_luxury</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>amethyst_purple</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>amethyst_purple</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>retro_synthwave</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>retro_synthwave</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>matcha_zen</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>matcha_zen</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>phantom_ghost</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>phantom_ghost</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>golden_king</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>golden_king</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>diamond_ultra</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>diamond_ultra</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>blood_moon</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>blood_moon</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>aurora_lights</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>aurora_lights</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>space_blackhole</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>space_blackhole</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>coffee_caramel</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>coffee_caramel</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>neon_toxic</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>neon_toxic</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>quantum_portal</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>quantum_portal</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>infinity_titan</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>infinity_titan</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
			</dict>
		</dict>
		<key>CFBundleIcons~ipad</key>
		<dict>
			<key>CFBundlePrimaryIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CFBundleAlternateIcons</key>
			<dict>
				<key>national_day_29</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>national_day_29</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>midnight_dark</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>midnight_dark</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>cyberpunk_neon</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>cyberpunk_neon</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>sakura_pink</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>sakura_pink</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>ocean_breeze</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>ocean_breeze</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>sunset_glow</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>sunset_glow</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>matrix_matrix</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>matrix_matrix</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>fire_dragon</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>fire_dragon</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>galaxy_cosmic</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>galaxy_cosmic</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>frost_ice</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>frost_ice</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>emerald_gem</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>emerald_gem</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>ruby_luxury</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>ruby_luxury</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>amethyst_purple</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>amethyst_purple</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>retro_synthwave</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>retro_synthwave</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>matcha_zen</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>matcha_zen</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>phantom_ghost</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>phantom_ghost</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>golden_king</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>golden_king</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>diamond_ultra</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>diamond_ultra</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>blood_moon</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>blood_moon</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>aurora_lights</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>aurora_lights</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>space_blackhole</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>space_blackhole</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>coffee_caramel</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>coffee_caramel</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>neon_toxic</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>neon_toxic</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>quantum_portal</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>quantum_portal</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>infinity_titan</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>infinity_titan</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
</plist>
